<div class="logotipo">
    <img src="../../../assets/logotipo.png" alt="logotipo" />
  </div>
  <div class="bordetexto">
  <div class="texto">
    <p class="bold">NOVUM MÉXICO TRADING, S. DE R.L. DE C.V.</p>
        
        <p class="bold">AVISO DE PRIVACIDAD SIMPLIFICADO</p>
        <p class="bold">CLIENTES, PROVEEDORES, PRESTADORES DE SERVICIOS, TRANSPORTISTAS Y COMISIONISTAS </p>
     
        <p class="justi">Novum México Trading, S. de R.L. de C.V. (en adelante “NOVUM”), con domicilio en Avenida Paseo de la
            Reforma No. 115, Interior 1503, Colonia Lomas de Chapultepec V Sección, Código Postal 11000, Alcaldía
            Miguel Hidalgo, Ciudad de México, es el responsable del uso y protección de sus datos personales
            derivado de la relación de negocios que mantiene con usted como cliente, proveedor, prestador de
            servicios, transportista y/o comisionista.</p>
            
            <p class="justi">En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, desde este
                momento usted nos puede comunicar lo anterior, mediante comunicación dirigida al Área Legal de
                NOVUM, dirigido al correo electrónico <a href="link"> datosprivacidad@novumenergy.com</a> </p>

                <p class="justi">
                    Para conocer mayor información sobre los términos y condiciones bajo los cuales serán tratados sus datos
personales, así como los terceros con quienes compartimos su información personal y la forma en que
podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición, puede consultar el aviso de
privacidad integral en la página de Internet <a href="link">www.novumenergy.com.</a>
                </p>
                <div class="pie">
                <p class="bold">
                    NOVUM MÉXICO TRADING, S. DE R.L. DE C.V.
                </p>
               
                   <p> AV. PASEO DE LA REFORMA NO. 115, INT. 1503, LOMAS DE CHAPULTEPEC V SECCIÓN
MIGUEL HIDALGO, C.P. 11000, CIUDAD DE MÉXICO, MÉXICO </p>
</div>

  </div>
</div>
