<section class="login">
  <div class="logotipo">
    <img src="../../../assets/logotipo.png" alt="logotipo" />
  </div>
  <div class="container">
    <div class="formData">
      <label for="uname"><b>Usuario</b></label>
      <input class="inputUser" type="text" placeholder="Usuario" name="uname" required />

      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="* * * * * * * *" name="psw" required />
    </div>
    <div class="buttonsForm">
      <button class="btn btn-primary btnInit" type="submit">Iniciar sesión</button>
      <a href="Password"> ¿Olvidaste tu Contraseña?</a>
    </div>
  </div>
</section>
