<section class="sectionHeader">
  <div class="header">
    <img src="../../../assets/logotipo.png" alt="logo" class="logo" />
    <div class="header-right">
      <button type="button" class="btn btn-primary btnstar" (click)="DialogLogIn()">
        Iniciar sesión
      </button>
      <button type="button" class="btn btn-success" (click)="DialogSignUp()">
        Regístrate
      </button>
    </div>
  </div>
</section>

<!-- template para iniciar Sesion -->
<ng-template #logIn>
  <app-login></app-login>
</ng-template>

<!-- template para registrarse -->
<ng-template #signUp>
  <app-signup></app-signup>
</ng-template>
