.sectionFooter {
  height: 400px;
  padding-top: 30px;
  background-color: #2f3c67;
  text-align: center;
  p{
    color: var(--white);
  }
  .titlefooter{
    margin-bottom: 30px;
  }
}
.priva{
  .a{
    color: white;
  }
}