.sectionHome{
  padding-top:200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url('../../assets/fondo.jpg');
}

.thanksContainer{
  
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 100px;
  

}

.logotipo{
    max-width: 200px;
    margin-left: 150px;
    margin-top: 50px;
  
}
