.sectionHome{
  padding-top:200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url('../../assets/fondo.jpg');
}

.thanksContainer{
  display: grid;
  grid-template-columns: 1fr;
  padding: 200px;
  
}
.ingresar{
  background-color:blue;
  color:white;
  margin: 10px;
  
}
.btn-sm {
	background-color:blue;
	border-color: #7b7b7b;
	color:#FFFFFF;
  
}
