<section class="sectionHome">
<h1>PORTAL DE PROVEEDORES</h1>
<button type="button" class="btn btn-primary" type="submit"> Iniciar Sesion </button>
</section>

<ng-template #thanks>
    <div class="thanksContainer">
      <button mat-button mat-dialog-close (click)="close()">
        <img src="../../../assets/general/btn_close.svg" alt="Agtrac-Cerrar" />
      </button>
      <h2>¡Gracias!</h2>
      <h5>Tus datos se han enviado correctamente</h5>
      <p>En breve uno de nuestros asesores se pondrá en comunicación contigo.</p>
    </div>
  </ng-template>
