<section class="sectionHome">
  <ng-container >
  <h1>PORTAL DE PROVEEDORES</h1>
  <button class="btn btn-primary"  (click)="openDialog()">
    Iniciar Sesion
  </button>
</ng-container>
</section>
<ng-template #thanks>
  <div class="thanksContainer">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
  </div>
</ng-template>
